/***************************************/
/* search to navigte                   */
/* search '_find' to return here       */
/***************************************/
/* _theme_variables                    */
/* _mods:                              */
/* ... _tag_pillbox                    */
/* ... _wysiwyg_mode                   */
/* ... _andy_matuschak_mode            */
/* ... _stylish_blockquote             */
/* ... _bullet_point_lines             */
/* ... _task_check_list_tweaks         */
/* ... _muted_yaml                     */
/* ... _muted_toc                      */
/* ... _modify_outline                 */
/***************************************/

/* for more tweaks see: */
/* https://forum.obsidian.md/t/meta-post-common-css-hacks/1978 */

/***************************************/
/* _theme_variables                    */
/***************************************/

/* _red_graphite_theme                 */
/* source: https://github.com/seanwcom/Red-Graphite-for-Obsidian */
/*-------------------------------------*/

.theme-light
{
  --background-inline-code: rgb(255, 255, 255);
  --background-nav-alt: rgb(58, 62, 63);
  --background-nav-file-tag: rgb(203, 77, 73);
  --background-nav-selected: rgb(203, 77, 73);
  --background-nav: rgb(41, 44, 46);
  --background-primary: rgb(250, 250, 250);
  --background-tag: #b5b5b5;
  --border-inline-code: rgb(215, 215, 215);
  --code-block-background: #ffffff;
  --code-block-border: #92a1a17a;
  --font-family-editor: Avenir, "Avenir Next", "Avenir Next Cyr", 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
  --font-family-preview: Avenir, "Avenir Next", "Avenir Next Cyr", 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
  --interactive-accent: rgb(203, 77, 73);
  --text-accent: rgb(203, 77, 73);
  --text-faint: rgb(150, 150, 150);
  --text-header: rgb(44, 44, 44);
  --text-highlight-bg: #b4ff0066;
  --text-inline-code: rgb(203, 77, 73);
  --text-nav-selected: rgb(255, 255, 255);
  --text-nav: rgb(190, 190, 190);
  --text-normal: rgb(44, 44, 44);
}

.theme-dark {
  --background-inline-code: rgb(32, 32, 32);
  --background-nav-alt: rgb(58, 62, 63);
  --background-nav-file-tag: rgb(116, 190, 247);
  --background-nav-selected: rgb(73, 73, 73);
  --background-nav: rgb(41, 44, 46);
  --background-primary: rgb(28, 30, 32);
  --background-tag: rgb(111, 112, 116);
  --border-inline-code: rgb(76, 76, 76);
  --code-block-background: rgb(32, 32, 32);
  --code-block-border: rgb(77, 77, 77);
  --font-family-editor: Avenir, "Avenir Next";
  --font-family-preview: Avenir, "Avenir Next";
  --interactive-accent: rgb(116, 190, 247);
  --text-accent: rgb(116, 190, 247);
  --text-faint: rgb(150, 150, 150);
  --text-header: rgb(198, 213, 224);
  --text-highlight-bg: rgb(64, 73, 181);
  --text-inline-code: rgb(255, 255, 255);
  --text-nav-selected: rgb(255, 255, 255);
  --text-nav: rgb(190, 190, 190);
  --text-normal: rgb(216, 216, 216);
}

/* header colors */
.cm-header,
.markdown-preview-view h1,
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
  color: var(--text-header);
}

/* Changing size/color of the header hashtags ## */
.cm-formatting-header {
  color: var(--text-faint);
}

.cm-s-obsidian span.cm-url {
  color: var(--text-accent);
}

.markdown-preview-view mark {
  color: var(--text-normal);
}

.cm-formatting-em.cm-em {
  color: var(--text-faint);
}
.cm-formatting-strong.cm-strong {
  color: var(--text-faint);
}

/* Horizontal rule between Icons and vault in left nav */
.nav-buttons-container {
  border-bottom-color: var(--background-nav-alt);
}

/* The name of the vault */
.nav-folder.mod-root > .nav-file-title, .nav-folder.mod-root > .nav-folder-title {
  color: var(--text-nav);
}

/* Color of left nav tree text */
.nav-file-title, .nav-folder-title {
  color: var(--text-nav);
}

/* modified by loikein */
.nav-folder:not(.is-collapsed) > .nav-folder-title > .nav-folder-collapse-indicator {
  color: var(--interactive-accent);
}

/* New top tabs */
.workspace-tabs {
  background-color: var(--background-nav-alt);
}

.workspace-tab-header-container {
  background-color: var(--background-nav-alt);
}

/* Color of the curve of the top tabs */
.workspace-tab-container-before.is-before-active,
.workspace-tab-container-after.is-after-active,
.workspace-tab-header.is-before-active,
.workspace-tab-header.is-after-active {
  background-color: var(--background-nav);
}

/* Background color of unselected tabs */
.workspace-tab-container-before.is-before-active .workspace-tab-header-inner,
.workspace-tab-container-after.is-after-active .workspace-tab-header-inner,
.workspace-tab-header.is-before-active .workspace-tab-header-inner,
.workspace-tab-header.is-after-active .workspace-tab-header-inner {
  background-color: var(--background-nav-alt);
}

/* Background color of selected tab */
/* modified by loikein */
.workspace-tab-header.is-active,
.workspace-tab-header.is-active:hover {
  background-color: var(--background-nav);
  color: var(--text-nav);
}

/* resize handle coloring */
.workspace-leaf-resize-handle {
  background-color: transparent;
}

/* Set the left nav background to same color as ribbon so we can make a curved corner that matches */
.workspace-tabs .workspace-leaf {
  background-color: var(--background-nav-alt);
}

/* Set the left nav background to different color from ribbon, and give a curved corner with statusbar */
.mod-left-split .workspace-tabs .workspace-leaf .workspace-leaf-content {
  background-color: var(--background-nav);
}

/* Set the right nav background to different color from ribbon, and give a curved corner with statusbar */
.mod-right-split .workspace-tabs .workspace-leaf .workspace-leaf-content {
  background-color: var(--background-nav);
}

.side-dock.mod-right {
  border-left: 0px;
}

/* Left nav ribbon background color */
.side-dock-ribbon {
  background-color: var(--background-nav-alt);
}

/* Left nav ribbon background-color */
.side-dock-ribbon-before.is-before-active,
.side-dock-ribbon-after.is-after-active,
.side-dock-ribbon-tab.is-before-active,
.side-dock-ribbon-tab.is-after-active {
  background-color: var(--background-nav);
}

/* Left nav ribbon background-color */
.side-dock-ribbon-before.is-before-active .side-dock-ribbon-tab-inner,
.side-dock-ribbon-after.is-after-active .side-dock-ribbon-tab-inner,
.side-dock-ribbon-tab.is-before-active .side-dock-ribbon-tab-inner,
.side-dock-ribbon-tab.is-after-active .side-dock-ribbon-tab-inner {
  background-color: var(--background-nav-alt);
}

/* Left nav ribbon active background-color */
.side-dock-ribbon-tab.is-active {
  background-color: var(--background-nav);
}

/* Left nav ribbon active hover text color (icon color) */
.side-dock-ribbon-tab.is-active:hover {
  color: var(--text-accent);
}

/* Left nav ribbon inactive hover text color (icon color) */
.side-dock-ribbon-tab:hover,
.side-dock-ribbon-action:hover {
  color: var(--text-accent);
}

/* Background and text color of selected item in left nav tree */
.nav-file.is-active > .nav-file-title,
.nav-file.is-active > .nav-folder-title,
.nav-file.is-active > .nav-folder-collapse-indicator,
.nav-folder.is-active > .nav-file-title,
.nav-folder.is-active > .nav-folder-title,
.nav-folder.is-active > .nav-folder-collapse-indicator {
  background-color: var(--background-nav-selected);
  color: var(--text-nav-selected);
}

/* Background and text color of selected item in left nav tree - when hovering */
.nav-file.is-active > .nav-file-title:hover,
.nav-file.is-active > .nav-folder-title:hover,
.nav-file.is-active > .nav-folder-collapse-indicator:hover,
.nav-folder.is-active > .nav-file-title:hover,
.nav-folder.is-active > .nav-folder-title:hover,
.nav-folder.is-active > .nav-folder-collapse-indicator:hover {
  background-color: var(--text-accent);
  color: var(--text-nav-selected);
}

/* Background and text color of hovered item in left nav tree */
body:not(.is-grabbing) .nav-file-title:hover,
body:not(.is-grabbing) .nav-folder-title:hover {
  background-color: var(--background-secondary-alt);
  color: var(--text-nav-selected);
}

/* Background and text color of hovered collapse indicator in left nav tree */
body:not(.is-grabbing) .nav-file-title:hover .nav-folder-collapse-indicator,
body:not(.is-grabbing) .nav-folder-title:hover .nav-folder-collapse-indicator {
  background-color: var(--background-secondary-alt);
  color: var(--text-nav-selected);
}

/* Left Nav menu item - hover background color */
body:not(.is-grabbing) .nav-file-title:hover,
body:not(.is-grabbing) .nav-folder-title:hover {
  background-color: var(--background-nav-alt);
}

/* Left Nav menu item - hover background color of the collapse/expand arrow */
body:not(.is-grabbing) .nav-file-title:hover .nav-folder-collapse-indicator,
body:not(.is-grabbing) .nav-folder-title:hover .nav-folder-collapse-indicator {
  background-color: var(--background-nav-alt);
}

/* Left side dock */
.side-dock.mod-left {
  border-right-color: var(--background-secondary-border);
}

/* Status bar ... duh? :) */
.status-bar {
  background-color: var(--background-nav-alt);
  border-top-color: var(--background-nav-alt);
  color: var(--text-nav);
}

/* Testing a gradient design for statusbar */
/* .status-bar {
  border-top: 0px;
  background-color: var(--background-nav-alt);
  background: linear-gradient(90deg, rgba(255,0,0,0) 5%, var(--background-nav-alt) 20%);
  position: absolute;
  right: 0;
  bottom: 0;
  width: 500px;
  color: var(--text-nav);
} */

/* Context menu hover item */
.menu-item:hover {
  background-color: var(--background-secondary-alt);
  color: var(--text-accent);
}

/* Editor view - task list, color and veritcal align */
.cm-s-obsidian span.cm-formatting-task {
  color: var(--text-accent);
}

.CodeMirror .cm-math {
  color: var(--text-inline-code);
}

/* color of inline code ticks */
/* modified by loikein */
.cm-s-obsidian span.cm-inline-code.cm-formatting-code {
  color: var(--text-inline-code);
}

/* color of inline code */
.cm-s-obsidian span.cm-inline-code {
  color: var(--text-inline-code);
}

/* color and border of inline code (between the ticks) */
.cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code) {
  background-color: var(--background-inline-code);
  border-color: var(--border-inline-code);
}

.markdown-preview-section code {
  background-color: var(--background-inline-code);
  border-color: var(--border-inline-code);
}

/* Set background of code panes to transparent since main background is controlled above */
.markdown-preview-view code {
  background-color: transparent;
  color: var(--text-inline-code);
}

/* Preview code block background */
.markdown-preview-view pre {
  background-color: var(--code-block-background);
  border-color: var(--code-block-border);
}

/* Code block border color */
/* modified by loikein */
.cm-s-obsidian div.HyperMD-codeblock-begin-bg {
  border: none;
  background-color: var(--background-primary) !important;
  /* border-bottom: 1px solid var(--code-block-border); */
}
.cm-s-obsidian pre.HyperMD-codeblock-begin{ color: var(--text-muted) !important; }

/* Code block border color */
/* modified by loikein */
.cm-s-obsidian div.HyperMD-codeblock-end-bg {
  border: none;
  background-color: var(--background-primary) !important;
  /* border-top: 1px solid var(--code-block-border); */
}
.cm-s-obsidian pre.HyperMD-codeblock-end{ color: var(--text-muted) !important; }

/* Code block background color */
/* modified by loikein */
.cm-s-obsidian div.HyperMD-codeblock-bg {
  background-color: var(--code-block-background);
  border: none;
}

/* Code block left and right padding */
/* modified by loikein */
.cm-s-obsidian pre.HyperMD-codeblock {
  color: var(--text-inline-code);
  line-height: 1.5;
}

/* Code block left and right border colors */
.cm-s-obsidian div.HyperMD-codeblock-bg {
/*   border-left-color: var(--code-block-border);
  border-right-color: var(--code-block-border); */
}

/* Enable wrapping of code blocks in the preview panel */
.theme-light code[class*="language-"], .theme-light pre[class*="language-"],
.theme-dark code[class*="language-"], .theme-dark pre[class*="language-"] {
  background-color: var(--code-block-background);
}

/* Tag pillbox - common settings for editor left, editor right and preview */
.cm-s-obsidian span.cm-hashtag-begin,
.cm-s-obsidian span.cm-hashtag-end,
a.tag {
  background-color: var(--background-tag);
  color: var(--text-nav-selected);
}

/* Right nav tag colour */
/* modified by loikein */

.tag-pane-tag {
  color: var(--text-nav);
}

/* Color the hover background like we do the selected left nav */
.tag-pane-tag:hover {
  background-color: var(--background-nav-alt);
  color: var(--text-nav-selected);
}

/* Style the tag pane tag count with the bear red coloring used in selected item from left nav */
.tag-pane-tag-count {
  background-color: var(--text-accent);
  color: var(--text-nav-selected);
}

/* Backlinks big titles colour */
/* modified by loikein */

.side-dock-collapsible-section-header {
  color: var(--text-muted);
}

.side-dock-collapsible-section-header:hover{
  background-color: var(--background-nav-alt);
  color: var(--text-nav-selected);
}

:not(.is-collapsed) > .side-dock-collapsible-section-header-indicator{
  color: var(--interactive-accent);
}

/* Backlinks title match hover */
.search-result-file-title:hover {
  background-color: var(--background-nav-alt);
}

/* Backlinks content match hover */
.search-result-file-match:hover {
  background-color: var(--background-nav-alt);
}

/* Backlink titles for matches */
.search-result-file-title {
  color: var(--text-nav);
}

/* Backlink highlighted [[links]] */
.search-result-file-matched-text {
  color: var(--text-nav-selected);
  background-color: var(--text-accent);
}

/* Add button hovers to the the Update internal links modal (and possibly others) */
.modal-button-container button:not(.mod-cta):not(.mod-warning):hover {
  background-color: var(--text-accent);
  color: var(--text-nav-selected);
}

/* Background color of rename inputs */
.nav-file-title-content.is-being-renamed,
.nav-folder-title-content.is-being-renamed {
  cursor: text;
  border-color: var(--interactive-accent);
  background-color: var(--background-nav);
}

/* Background color of file tags, like "png" */
.nav-file-tag {
  background-color: var(--background-nav-file-tag);
  color: var(--text-nav-selected);
}

/* Card title adjustment for Andy Matuschak mode */
/* modified by loikein */

.workspace-leaf.mod-active .view-header {
  border-color: var(--interactive-accent);
}

/***************************************/
/* _mods                               */
/***************************************/

/* _tag_pillbox                        */
/* source: https://github.com/seanwcom/Red-Graphite-for-Obsidian */
/*-------------------------------------*/

/* Tag pillbox - common settings for editor left, editor right and preview */
.cm-s-obsidian span.cm-hashtag-begin,
.cm-s-obsidian span.cm-hashtag-end,
a.tag {
  padding-bottom: 2px;
  padding-top: 2px;
  text-decoration: none;
  font-family: var(--font-family-editor);
  font-weight: bold;
}

/* Tag editor left side pillbox */
.cm-s-obsidian span.cm-hashtag-begin {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-left: 8px;
}

/* Tag editor right side pillbox */
.cm-s-obsidian span.cm-hashtag-end {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-right: 10px;
}

/* Tag preview pillbox */
a.tag {
  border-top-left-radius: 250px;
  border-top-right-radius: 250px;
  border-bottom-left-radius: 250px;
  border-bottom-right-radius: 250px;
  padding-left: 10px;
  padding-right: 12px;
}

/* _wysiwyg_mode                       */
/* source: https://github.com/deathau/psuedo-wysiwyg-obsidian-theme */
/*-------------------------------------*/

@charset "UTF-8";
.CodeMirror-code > :not(.CodeMirror-activeline) {
  /* blockquote left border (thanks loikein) */
}
.CodeMirror-code > :not(.CodeMirror-activeline) .cm-formatting-link {
  /* this is for the double square brackets on internal links */
  display: none;
}
/* modified by loikein:
- show block code ticks
- show list number/marker */
.CodeMirror-code > :not(.CodeMirror-activeline) .cm-formatting:not(.cm-formatting-code-block):not(.cm-formatting-list),
.CodeMirror-code > :not(.CodeMirror-activeline) .cm-comment,
.CodeMirror-code > :not(.CodeMirror-activeline) .cm-formatting-escape {
  /* this gets most formatting */
  display: none;
}
.CodeMirror-code > :not(.CodeMirror-activeline) .cm-formatting.cm-hashtag-begin {
  /* I think we want to see hashes on tags */
  display: inline;
}
.CodeMirror-code > :not(.CodeMirror-activeline) .cm-formatting-link-string.cm-url + .cm-url {
  /* external links are a bit dodgy at the moment */
  /* you can't ctrl+click on a url you can't see... */
  width: 14px;
  height: 1em;
  padding-left: 18px;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  position: relative;
}
.CodeMirror-code > :not(.CodeMirror-activeline) .cm-formatting-link-string.cm-url + .cm-url::before {
  /* putting in the arrow icon from the default theme */
  content: "";
  background-color: var(--text-muted);
  -webkit-mask-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJyBjbGFzcz0naS1leHRlcm5hbCcgdmlld0JveD0nMCAwIDMyIDMyJyB3aWR0aD0nMTQnIGhlaWdodD0nMTQnIGZpbGw9J25vbmUnIHN0cm9rZT0nIzg4ODg4OCcgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJyBzdHJva2Utd2lkdGg9JzkuMzglJz48cGF0aCBkPSdNMTQgOSBMMyA5IDMgMjkgMjMgMjkgMjMgMTggTTE4IDQgTDI4IDQgMjggMTQgTTI4IDQgTDE0IDE4Jy8+PC9zdmc+DQo=");
  display: inline-block;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 4px;
  bottom: 0;
}
.CodeMirror-code > :not(.CodeMirror-activeline) .cm-formatting-image ~ .cm-url {
  /* indicate hyperlinked image (thanks loikein) */
  font-size: 1.5em;
}
.CodeMirror-code > :not(.CodeMirror-activeline) .cm-formatting-image ~ .cm-url::after {
  content: "🖼";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 0.8em;
}
.CodeMirror-code > :not(.CodeMirror-activeline) pre.HyperMD-hr {
  /* hide hr breaks */
  visibility: hidden;
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-hr-bg {
  /* but show hr as a line */
  visibility: visible;
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background-color: var(--background-modifier-border);
  /* (thanks loikein) */
  margin: auto;
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line .cm-formatting-list-ul, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line .cm-formatting-list-ul {
  display: inline;
  font-size: 0;
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line .cm-formatting-list-ul::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line .cm-formatting-list-ul::before {
  font-size: 1rem;
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line .cm-formatting-list-ul.cm-list-1::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line .cm-formatting-list-ul.cm-list-1::before {
  /* 1st level ul bullet */
  content: "•";
  padding-right: 0.2em;
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line .cm-formatting-list-ul.cm-list-2::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line .cm-formatting-list-ul.cm-list-2::before {
  /* 2nd level ul bullet */
  content: "◦";
  padding-right: 0.2em;
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line .cm-formatting-list-ul.cm-list-3::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line .cm-formatting-list-ul.cm-list-3::before {
  /* 3rd level ul bullet */
  content: "▪";
  padding-right: 0.4em;
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line .cm-formatting-list-ol + span, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line .cm-formatting-list-ol + span {
  margin-left: 1.5em;
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line .cm-formatting-list-ol + span::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line .cm-formatting-list-ol + span::before {
  /* ol bullet */
  display: inline-block;
  width: 1em;
  margin-left: -1.6em;
  text-align: right;
  direction: rtl;
  overflow: visible;
  white-space: nowrap;
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-1, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-1 {
  /* show checkbox in editor (thanks loikein) */
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-1 .cm-formatting-list-ol + .cm-list-1::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-1 .cm-formatting-list-ol + .cm-list-1::before {
  content: "." counter(ol-1);
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-1 .cm-formatting-task.cm-property + .cm-list-1::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-1 .cm-formatting-task.cm-property + .cm-list-1::before {
  content: "☒";
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-1 .cm-formatting-task.cm-meta + .cm-list-1::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-1 .cm-formatting-task.cm-meta + .cm-list-1::before {
  content: "☐";
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-2, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-2 {
  /* show checkbox in editor (thanks loikein) */
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-2 .cm-formatting-list-ol + .cm-list-2::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-2 .cm-formatting-list-ol + .cm-list-2::before {
  content: "." counter(ol-2);
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-2 .cm-formatting-task.cm-property + .cm-list-2::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-2 .cm-formatting-task.cm-property + .cm-list-2::before {
  content: "☒";
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-2 .cm-formatting-task.cm-meta + .cm-list-2::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-2 .cm-formatting-task.cm-meta + .cm-list-2::before {
  content: "☐";
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-3, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-3 {
  /* show checkbox in editor (thanks loikein) */
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-3 .cm-formatting-list-ol + .cm-list-3::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-3 .cm-formatting-list-ol + .cm-list-3::before {
  content: "." counter(ol-3);
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-3 .cm-formatting-task.cm-property + .cm-list-3::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-3 .cm-formatting-task.cm-property + .cm-list-3::before {
  content: "☒";
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-3 .cm-formatting-task.cm-meta + .cm-list-3::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-3 .cm-formatting-task.cm-meta + .cm-list-3::before {
  content: "☐";
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-4, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-4 {
  /* show checkbox in editor (thanks loikein) */
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-4 .cm-formatting-list-ol + .cm-list-4::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-4 .cm-formatting-list-ol + .cm-list-4::before {
  content: "." counter(ol-4);
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-4 .cm-formatting-task.cm-property + .cm-list-4::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-4 .cm-formatting-task.cm-property + .cm-list-4::before {
  content: "☒";
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-4 .cm-formatting-task.cm-meta + .cm-list-4::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-4 .cm-formatting-task.cm-meta + .cm-list-4::before {
  content: "☐";
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-5, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-5 {
  /* show checkbox in editor (thanks loikein) */
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-5 .cm-formatting-list-ol + .cm-list-5::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-5 .cm-formatting-list-ol + .cm-list-5::before {
  content: "." counter(ol-5);
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-5 .cm-formatting-task.cm-property + .cm-list-5::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-5 .cm-formatting-task.cm-property + .cm-list-5::before {
  content: "☒";
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-5 .cm-formatting-task.cm-meta + .cm-list-5::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-5 .cm-formatting-task.cm-meta + .cm-list-5::before {
  content: "☐";
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-6, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-6 {
  /* show checkbox in editor (thanks loikein) */
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-6 .cm-formatting-list-ol + .cm-list-6::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-6 .cm-formatting-list-ol + .cm-list-6::before {
  content: "." counter(ol-6);
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-6 .cm-formatting-task.cm-property + .cm-list-6::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-6 .cm-formatting-task.cm-property + .cm-list-6::before {
  content: "☒";
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-6 .cm-formatting-task.cm-meta + .cm-list-6::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-6 .cm-formatting-task.cm-meta + .cm-list-6::before {
  content: "☐";
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-7, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-7 {
  /* show checkbox in editor (thanks loikein) */
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-7 .cm-formatting-list-ol + .cm-list-7::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-7 .cm-formatting-list-ol + .cm-list-7::before {
  content: "." counter(ol-7);
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-7 .cm-formatting-task.cm-property + .cm-list-7::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-7 .cm-formatting-task.cm-property + .cm-list-7::before {
  content: "☒";
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-7 .cm-formatting-task.cm-meta + .cm-list-7::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-7 .cm-formatting-task.cm-meta + .cm-list-7::before {
  content: "☐";
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-8, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-8 {
  /* show checkbox in editor (thanks loikein) */
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-8 .cm-formatting-list-ol + .cm-list-8::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-8 .cm-formatting-list-ol + .cm-list-8::before {
  content: "." counter(ol-8);
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-8 .cm-formatting-task.cm-property + .cm-list-8::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-8 .cm-formatting-task.cm-property + .cm-list-8::before {
  content: "☒";
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-8 .cm-formatting-task.cm-meta + .cm-list-8::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-8 .cm-formatting-task.cm-meta + .cm-list-8::before {
  content: "☐";
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-9, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-9 {
  /* show checkbox in editor (thanks loikein) */
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-9 .cm-formatting-list-ol + .cm-list-9::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-9 .cm-formatting-list-ol + .cm-list-9::before {
  content: "." counter(ol-9);
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-9 .cm-formatting-task.cm-property + .cm-list-9::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-9 .cm-formatting-task.cm-property + .cm-list-9::before {
  content: "☒";
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-9 .cm-formatting-task.cm-meta + .cm-list-9::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-9 .cm-formatting-task.cm-meta + .cm-list-9::before {
  content: "☐";
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-10, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-10 {
  /* show checkbox in editor (thanks loikein) */
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-10 .cm-formatting-list-ol + .cm-list-10::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-10 .cm-formatting-list-ol + .cm-list-10::before {
  content: "." counter(ol-10);
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-10 .cm-formatting-task.cm-property + .cm-list-10::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-10 .cm-formatting-task.cm-property + .cm-list-10::before {
  content: "☒";
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-10 .cm-formatting-task.cm-meta + .cm-list-10::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-10 .cm-formatting-task.cm-meta + .cm-list-10::before {
  content: "☐";
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-quote, .CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-quote:not(.HyperMD-quote-1) .cm-quote:not(.cm-formatting), .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-quote, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-quote:not(.HyperMD-quote-1) .cm-quote:not(.cm-formatting) {
  border-left: 5px solid var(--background-modifier-border);
  text-indent: 0 !important;
  padding-left: 1em !important;
}
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-quote:not(.HyperMD-quote-1) .cm-quote:not(.cm-formatting), .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-quote:not(.HyperMD-quote-1) .cm-quote:not(.cm-formatting) {
  display: inline-block;
}

.CodeMirror-line:not(.HyperMD-list-line) {
  counter-reset: ol-1;
}

.HyperMD-list-line-1 {
  counter-reset: ol-2;
}
.HyperMD-list-line-1 .cm-formatting-list-ol + .cm-list-1 {
  counter-increment: ol-1;
}

.HyperMD-list-line-2 {
  counter-reset: ol-3;
}
.HyperMD-list-line-2 .cm-formatting-list-ol + .cm-list-2 {
  counter-increment: ol-2;
}

.HyperMD-list-line-3 {
  counter-reset: ol-4;
}
.HyperMD-list-line-3 .cm-formatting-list-ol + .cm-list-3 {
  counter-increment: ol-3;
}

.HyperMD-list-line-4 {
  counter-reset: ol-5;
}
.HyperMD-list-line-4 .cm-formatting-list-ol + .cm-list-4 {
  counter-increment: ol-4;
}

.HyperMD-list-line-5 {
  counter-reset: ol-6;
}
.HyperMD-list-line-5 .cm-formatting-list-ol + .cm-list-5 {
  counter-increment: ol-5;
}

.HyperMD-list-line-6 {
  counter-reset: ol-7;
}
.HyperMD-list-line-6 .cm-formatting-list-ol + .cm-list-6 {
  counter-increment: ol-6;
}

.HyperMD-list-line-7 {
  counter-reset: ol-8;
}
.HyperMD-list-line-7 .cm-formatting-list-ol + .cm-list-7 {
  counter-increment: ol-7;
}

.HyperMD-list-line-8 {
  counter-reset: ol-9;
}
.HyperMD-list-line-8 .cm-formatting-list-ol + .cm-list-8 {
  counter-increment: ol-8;
}

.HyperMD-list-line-9 {
  counter-reset: ol-10;
}
.HyperMD-list-line-9 .cm-formatting-list-ol + .cm-list-9 {
  counter-increment: ol-9;
}

.HyperMD-list-line-10 {
  counter-reset: ol-11;
}
.HyperMD-list-line-10 .cm-formatting-list-ol + .cm-list-10 {
  counter-increment: ol-10;
}

/* _andy_matuschak_mode                */
/* source: https://github.com/elliotboyd/obsidian-traffic-lights */
/*-------------------------------------*/

.mod-root.workspace-split.mod-vertical {
  overflow-x:auto;
  --header-width: 28px;
}

.mod-root .view-content {
  height: 100%;
}

.mod-root.workspace-split.mod-vertical > div {
  min-width: calc(100% + var(--header-width));
  position:sticky;
  left: 0;
}

.workspace-split.mod-vertical > .workspace-leaf {
  padding-top: 0px;
}

.workspace-split.mod-root .workspace-leaf-content[data-type='markdown'] {
  box-shadow: 0px 0px 15px rgba(0,0,0,0.75);
  clip-path: inset(0px 0px 0px -15px);
}

.workspace-split.mod-horizontal .workspace-leaf {
  padding-top: 0px;
}

.mod-root.workspace-split.mod-vertical > div:nth-child(10n-8) { left: calc(var(--header-width) * 0); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-7) { left: calc(var(--header-width) * 1); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-6) { left: calc(var(--header-width) * 2); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-5) { left: calc(var(--header-width) * 3); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-4) { left: calc(var(--header-width) * 4); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-3) { left: calc(var(--header-width) * 5); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-2) { left: calc(var(--header-width) * 6); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-1) { left: calc(var(--header-width) * 7); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n+0) { left: calc(var(--header-width) * 8); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n+1) { left: calc(var(--header-width) * 9); }

/* Show the last note's title */
/* modified by loikein */
.mod-root.workspace-split.mod-vertical > div:last-child { padding-left: 28px; }
.mod-root.workspace-split.mod-vertical > div:only-of-type {
    min-width: calc(100% + var(--header-width)-28px);
    padding-left: 0 !important;
}

.mod-root .workspace-leaf-content {
  padding-left: var(--header-width);
  padding-right: 10px;
  position: relative;
}

.view-header {
  writing-mode: vertical-lr;
  border-top: none;
  border-bottom: none;
  height: auto;
  width: var(--header-width);
  position: absolute;
  left:0;
  top:0;
  bottom:0;
}

/* modified by loikein */
.workspace-leaf.mod-active .view-header {
  border-bottom: none;
  border-right-width: 2px;
  border-right-style: solid;
}

.view-header-title-container {
  height: unset;
  padding-left: unset;
  left: -1.5px;
}

/* modified by loikein */
.view-header-title-container::after {
  display: none;
}

.view-header-icon, .view-actions {
  padding: 10px 0px;
}
.view-action {
  margin: 8px 0px 0px 0px;
}

.view-content {
  height: 100%;
}

.workspace-fake-target-overlay {
  background-color: var(--background-primary);
}

/* _stylish_blockquote                 */
/* source: https://forum.obsidian.md/t/meta-post-common-css-hacks/1978/39 */
/*-------------------------------------*/

/* Remove blockquote left margin */
blockquote {
  margin-inline-start: 0;
}

/* Add quotation character before quote */
blockquote::before {
  font: 14px/20px serif;
  color: var(--background-modifier-border);
  content: "“";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}

blockquote p { display: inline; }

/* _bullet_point_lines                 */
/* source: https://forum.obsidian.md/t/meta-post-common-css-hacks/1978/2 */
/*-------------------------------------*/

.cm-hmd-list-indent .cm-tab,
ul ul,
ol ul,
ul ol,
ol ol {
  position: relative;
}

.cm-hmd-list-indent .cm-tab::before,
ul ul::before,
ol ul::before,
ul ol::before,
ol ol::before {
  content:'';
  border-left: 1px solid var(--background-modifier-border);
  position: absolute;
}

.cm-hmd-list-indent .cm-tab::before { left: 0; top: -5px; bottom: -4px; }

ul ul::before,
ol ul::before,
ul ol::before,
ol ol::before {
  left: -11px;
  top: 0;
  bottom: 0;
}

/* _task_check_list_tweaks             */
/*-------------------------------------*/

/* Vertical alignment in preview */
.markdown-preview-view .task-list-item-checkbox {
  top: 0;
}

.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-1 .cm-formatting-task.cm-meta + .cm-list-1::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-1 .cm-formatting-task.cm-meta + .cm-list-1::before,
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-2 .cm-formatting-task.cm-meta + .cm-list-2::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-2 .cm-formatting-task.cm-meta + .cm-list-2::before,
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-3 .cm-formatting-task.cm-meta + .cm-list-3::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-3 .cm-formatting-task.cm-meta + .cm-list-3::before,
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-4 .cm-formatting-task.cm-meta + .cm-list-4::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-4 .cm-formatting-task.cm-meta + .cm-list-4::before,
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-5 .cm-formatting-task.cm-meta + .cm-list-5::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-5 .cm-formatting-task.cm-meta + .cm-list-5::before,
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-6 .cm-formatting-task.cm-meta + .cm-list-6::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-6 .cm-formatting-task.cm-meta + .cm-list-6::before,
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-7 .cm-formatting-task.cm-meta + .cm-list-7::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-7 .cm-formatting-task.cm-meta + .cm-list-7::before,
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-8 .cm-formatting-task.cm-meta + .cm-list-8::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-8 .cm-formatting-task.cm-meta + .cm-list-8::before,
.CodeMirror-code > :not(.CodeMirror-activeline) .HyperMD-list-line-9 .cm-formatting-task.cm-meta + .cm-list-9::before, .CodeMirror-code > :not(.CodeMirror-activeline).HyperMD-list-line-9 .cm-formatting-task.cm-meta + .cm-list-9::before {
  font-size: 1.1em;
  line-height: 0.9;
  font-weight: bold;
}

/* _muted_yaml                         */
/*-------------------------------------*/

.cm-hmd-frontmatter {
  color: var(--text-muted);
}

/* _muted_toc                          */
/*-------------------------------------*/

.cm-s-obsidian span.cm-hmd-toc {
  color: var(--text-normal);
  font-size: 16px;
}

/* _modify_outline                     */
/*-------------------------------------*/

.outline .pane-clickable-item {
  color: var(--text-nav);
}

.outline .pane-clickable-item:hover {
  background-color: var(--background-nav-alt);
  color: var(--text-nav-selected);
}

.outline .pane-clickable-item .is-active {
  background-color: var(--text-accent);
  color: var(--text-nav-selected);
}
